@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 8%;
}
.gallery
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
}

.gallery img{
    border-radius: 10px;
    width: 100%;
}


.gall{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.btn1 {
    font-weight: bold;
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #586369);
    background-image: -moz-linear-gradient(top, #000000, #586369);
    background-image: -ms-linear-gradient(top, #000000, #586369);
    background-image: -o-linear-gradient(top, #000000, #586369);
    background-image: linear-gradient(to bottom, #000000, #586369);
    -webkit-border-radius: 27;
    -moz-border-radius: 27;
    border-radius: 27px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 24px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 2px;
    text-decoration: none;
  }
  
  .btn1:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }